body {
    background-color: #efefef;
}

header, footer {
    padding: 20px;
    text-align: center;
    background-color: #005fff;
    color: white;
}

#left {
    width: 15%;
    float: left;
    padding: 20px;
    background-color: #efefef;
}

#content {
    width: 70%;
    float: left;
    padding: 20px;
    background-color: white;
}

#right {
    width: 15%;
    float: left;
    padding: 20px;
    background-color: #efefef;
}

.navigation {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}

.navigation li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navigation li a {
    text-decoration: none;
}

.rounded {
    border-radius: 9999px!important;
}

.rect {
    border-radius: 0px!important;
}

.custom-card {
    background-color: #efefef;
}
